<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
	  <h1>Login Page!</h1>
	  <form action"/Login" method="POST">
                <label for="email">Email:</label>
                <input name="email" type="text" autocomplete="off" required>
                <br>
                <label for="password">Password:</label>
                <input name="password" pattern=".{8,40}" id="password" type="password" placeholder="(8 characters min)" autocomplete="off" required>
                <br>
                <input type="submit" value="Sign In" name="Sign In" id="SignIn">
          </form>

  </body>
</html>
